@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

@if (!isAuthenticated)
{
    <div>
        <h1 class="display-4 fw-bold text-center">Welcome to OmniTask</h1>
    </div>
}

