@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>

<section class="about_section padding">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="content col-12 col-lg-5 p-4 m-3">
                <div class="text-center">
                    <h1>Omnitak Task Management</h1>
                    <p class="mb-0">
                        Elevate Your Productivity with Omnitak<br>
                        Tired of juggling tasks and missing deadlines?
                        Omnitak is your ultimate task management solution, designed to streamline your workflow and boost team collaboration.
                        From project planning to daily to-dos, Omnitak empowers you to organize, track, and conquer your goals with intuitive ease.
                        Say goodbye to chaos and hello to clarity. With Omnitak, every task is a step closer to success.
                    </p>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about_img">
                    <img src="~/assets/benefits_of_task_management_tool-NEW.png" alt="idea-images" class="about_img_3">
                </div>
            </div>

        </div>
    </div>
</section>