@model List<OmintakProduction.Models.User>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Users";
    Layout = "_Layout";
}
<button type="submit" class="btn btn-info btn-lg shadow-sm">
    <i class="bi bi-box-arrow-in-right me-2"></i> List Users
</button>

<div>
    <ul>
        @foreach(var user in Model)
        {
            <li>@user.UserName</li>
        }
    </ul>
</div>